build
.ipynb_checkpoints
*.o
*.DS_Store
*.mod
*.so
*.a
*.dSYM
*.pyc
*.swp
docs/_html/*
docs/_latex/*
_build
dist
README.html
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
*.synctex.gz
*.egg-info
